
th, tr{
    cursor: pointer;
}
.main-search{
    padding-top: 2%;
    /*padding-left: 3%;*/
    /*padding-right: 5%;*/
    padding-bottom: 1%;
}
.request-input{
    height: 30px;
    border-radius: 5px;
}
.request-table{
    padding: 1% 1% 1% 1%;
}
.dropdown-menu li{
    padding-left: 10%;
}